.choose-specialist-from-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 20px;

    h3 {
        font-weight: 800;
    }

    .specialist-items {
        width: 100%;
        height: 100%;
        justify-content: space-between !important;
        flex-wrap: wrap;
        font-size: 10px;

        .specialist-item {
            width: 100px;
            height: 50px;

            input {
                cursor: pointer;
                margin: 0px 0px 15px 5px;
            }
        }
    }
}