.ads {
    width: 100%;
    margin-top: 10px;

    .carousel-indicators,
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }


    .ads-content {
        width: 100%;
    }


    .slide-icon {
        width: 10px;
        margin-left: 5px;
    }
}