.classificationButtons {
    width: 100%;
    height: 100px;
    justify-content: space-evenly !important;

    button {
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
        border: none;
    }

    .dawrat-button {
        background: #6F2877;

        &:hover {
            background: #6F2877DD;
        }
    }

    .questions-button {
        background: #20C4F4;

        &:hover {
            background: #20C4F4CC;
        }
    }
}


/* Responsive */

/* Responsive */
@media (max-width:600px) {
    .classificationButtons {
        button {
            padding: 20px;
            font-size: 15px;
        }
    }
}