.start-now {
    width: 100% !important;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly !important;

    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #6F2877;
        background-color: #6F2877;
        color: white;
        &:hover{
            background-color: #6F2877DD;
        }
    }
}