.header {
    justify-content: space-around;
    width: 105%;
    height: 200px;
    background-image: url(../../assets/images/Header/background.png);
    background-size: cover;
    padding: 20px;

    .header-profile {
        color: #464547;
        cursor: pointer;

        .hideProfileList {
            display: none;
        }

        .showProfileList {
            display: block;
        }

        h1 {
            margin-bottom: 100px;
        }

        .handle-profile {
            position: absolute;
            top: 120px;
            flex-direction: column !important;
            z-index: 30;
            font-size: 15px;

            .handle-profile-item {
                width: 100%;
                justify-content: flex-start !important;
                padding: 0px 20px;
                gap: 10px;
                cursor: pointer;
                transition: background .5s ease;

                &:hover {
                    background-color: #B989BD80;
                }
            }

            a {
                color: #464547;
            }
        }

        .icon-field {
            width: 25px;
            height: 35px;
        }
    }

    .header-login {
        justify-content: flex-start;

        .header-login-button {
            border-radius: 5px;
            background-color: white;
            border: 2px solid #6F2877;
            color: #6F2877;
            transition: border .3s ease;

            &:hover {
                border: 2px solid #B9E5FB;
            }
        }

    }

    .links {
        justify-content: flex-start;

        .link-template {
            width: 115px;
            height: 50px;
            overflow-y: hidden;
            text-align: center;
            border-radius: 5px;
            margin-right: 35px;
            color: #464547;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                border: 2px solid #B9E5FB;
            }

            p {
                margin-top: 10px;
            }

        }

        .link-template-active {
            background-color: white;
            border: 2px solid #6F2877;
            color: #6F2877;

            &:hover {
                border: 1px solid #464547;
            }
        }
    }

    .logo {
        justify-content: flex-end;

        img {
            width: 180px;
        }
    }
}


/* Responsive on 800px */
@media (max-width : 800px) {
    .header {

        .header-login {
            .header-login-button {
                font-size: 12px;
            }
        }

        .links {
            .link-template {
                width: fit-content;
                height: fit-content;
                padding: 5px;
                margin-right: 10px;
            }
        }

        .logo {
            img {
                width: 120px;
            }
        }
    }
}

/* Responsive on 650px */
@media (max-width : 650px) {

    .header {

        .header-profile-icon {
            .icon-field {
                width: 35px !important;
            }

            .handle-profile-item {
                font-size: 10px;

            }
        }

        .links {
            .link-template {
                margin-right: 0px;

                p {
                    font-size: 15px;
                }
            }
        }
    }
}

/* Responsive on 550px */
@media (max-width : 550px) {
    .header {

        height: 250px;


        .header-profile {
            .icon-field {
                width: 33px;
            }

            .handle-profile {

                top: 150px;

                .handle-profile-item {

                    p {
                        font-size: 12px;
                        margin-right: 10px;
                    }

                    h6 {
                        font-size: 12px;
                    }
                }
            }


        }

        .header-login {
            width: 30%;

            .header-login-button {
                font-size: 10px;
            }
        }

        .links {
            width: 35%;
            flex-direction: column;

            .link-template {
                margin: 0px;

                p {
                    font-size: 14px;
                }
            }
        }

        .logo {
            width: 35%;
        }

    }
}