.header {
    justify-content: space-around;
    height: 240px;
    background-image: url(../../assets/images/Header/background.png);
    background-size: cover;
    padding: 20px;

    .header-profile-icon {
        color: #464547;

        cursor: pointer;

        .handle-profile {
            position: absolute;
            background-color: #B989BD80;
            top: 140px;
            flex-direction: column !important;

            .handle-profile-item {
                width: 100%;
                justify-content: flex-start !important;
                padding: 5px 20px;
                gap: 10px;
                cursor: pointer;

                &:hover {
                    background-color: #B989BD;
                }
            }

            a {
                color: #464547;
            }
        }

        .icon-field {
            width: 25px;
            height: 40px;
        }
    }

    .header-login {
        justify-content: flex-start;

        .header-login-button {
            border-radius: 5px;
            background-color: white;
            border: 2px solid #6F2877;
            color: #6F2877;
        }

        .header-login-button:hover {
            background-color: rgb(240, 238, 238);
        }
    }

    .links {
        justify-content: flex-start;

        p {
            margin-right: 50px;
            color: #464547;
        }
    }

    .logo {
        justify-content: flex-end;

        img {
            width: 180px;
        }
    }
}


/* Responsive on 800px */
@media (max-width : 800px) {
    .header {

        .header-login {
            .header-login-button {
                font-size: 12px;
            }
        }

        .links {
            p {
                font-size: 14px;
                margin-right: 10px;
            }
        }

        .logo {
            img {
                width: 120px;
            }
        }
    }
}


/* Responsive on 550px */
@media (max-width : 550px) {
    .header {

        .header-profile-icon {
            p {
                font-size: 12px;
            }
        }

        .header-login {
            width: 30%;

            .header-login-button {
                font-size: 10px;
            }
        }

        .links {
            width: 30%;
            flex-direction: column;
        }

        .logo {
            width: 40%;
        }


    }
}