@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Alexandria';
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}